$font-stack: "Avenir-Book", "Corbel", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", "Verdana", "Verdana Ref", sans-serif;

.sundial-wrapper {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.sundial-popover {
	font-family: $font-stack;
	display: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

	&.visible { display: block; }
}

.sundial-sidebar {
	line-height: 28px;
	font-weight: 600;
	font-size: 12px;
	color: #fff;
	background: #3F51B5;

	p {
		margin: 0;
	}

	.sundial-sidebar-year {

	}

	.sundial-sidebar-date {
		font-size: 20px;
	}

	.sundial-sidebar-time {

	}
}

.sundial-date-picker-header {
	position: relative;
	height: 40px;

	button {
		background-repeat: no-repeat;
		background-color: transparent;
		background-position: center;
		border: 0;
		text-indent: 150%;
		white-space: nowrap;
		overflow: hidden;
		display: block;
		position: absolute;
		top: 0;
		cursor: pointer;
		width: 40px;
		height: 40px;

		&:active {
			top: 1px;
		}
	}

	.sundial-date-picker-decrement-month {
		left: 0;
		background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSI2cHgiIGhlaWdodD0iOHB4IiB2aWV3Qm94PSIwIDAgNiA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBvbHlnb24gZmlsbD0iIzIxMjEyMSIgcG9pbnRzPSI2LDggMCw0IDYsMCAiLz4NCjwvc3ZnPg0K");
	}

	.sundial-date-picker-header-text {
		text-align: center;
		margin: 0;
		font-weight: 600;
		font-size: 13px;
		color: #212121;
		padding-top: 12px;
		cursor: default;
	}

	.sundial-date-picker-increment-month {
		right: 0;
		background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSI2cHgiIGhlaWdodD0iOHB4IiB2aWV3Qm94PSIwIDAgNiA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBvbHlnb24gZmlsbD0iIzIxMjEyMSIgcG9pbnRzPSIwLDAgNiw0IDAsOCAiLz4NCjwvc3ZnPg0K");
	}
}

.sundial-calendar-container {
	table {
		border-collapse: collapse;
		width: 290px;

		th {
			font-weight: 600;
			font-size: 12px;
			color: #212121;
			text-transform: uppercase;
		}

		td {
			width: 14.285714286%;
			padding: 2px 4px;

			button {
				box-sizing: content-box;
				font-family: $font-stack;
				font-size: 12px;
				display: block;
				text-align: center;
				width: 100%;
				color: #212121;
				cursor: pointer;
				border: 0;
				background-color: transparent;
				border-radius: 40px;
				padding: 9px 0 8px;
				border: 2px solid transparent;
			}

			&.sundial-day-today {
				button {
					border-color: #B0B0B0;
				}
			}

			&.sundial-day-selected {
				button {
					background-color: #03A9F4;
					color: #fff;
					border-color: transparent;
				}
			}
		}
	}
}