$font-stack: "Avenir-Book", "Corbel", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", "Verdana", "Verdana Ref", sans-serif;

.sundial-wrapper, .sundial-wrapper *, .sundial-popover, .sundial-popover * {
	box-sizing: border-box;
}

.sundial-wrapper {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	position: relative;

	input {
		position: absolute;
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		border: 0;
		padding: 0;
	}

	input:focus + .sundial-input-mask {
		border-color: #B0B0B0;
	}

	.sundial-input-mask {
		border: 2px solid transparent;
		border-left-color: #B0B0B0;
		transition: all 120ms linear;
		background-color: #F2F2F2;
		padding: 10px 15px 11px;
		color: #212121;
		font-size: 13px;
		font-family: $font-stack;
	}
}

.sundial-popover {
	font-family: $font-stack;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	visibility: hidden;
	opacity: 0;
	transform-origin: left top;
	margin-top: -12px;
	transition: all 150ms ease-out;

	&.visible {
		opacity: 10;
		margin-top: 0;
		visibility: visible;
	}

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
	}

	&:before {
		top: -4px;
		right: -4px;
		bottom: -4px;
		left: -4px;
		background: rgba(176, 176, 176, 0.25);
		border-radius: 5px;
	}

	&:after {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #3F51B5;
		border-radius: 1px;
	}
}

.sundial-sidebar {
	line-height: 28px;
	font-weight: 600;
	font-size: 12px;
	color: #fff;
	position: relative;
	z-index: 1;
	padding: 6px 12px;

	p {
		margin: 0;
	}

	.sundial-sidebar-year {

	}

	.sundial-sidebar-date {
		font-size: 20px;
	}

	.sundial-sidebar-time {

	}
}

.sundial-picker-container {
	background: #fff;
	position: relative;
	z-index: 1;
}

.sundial-date-picker-header {
	position: relative;
	height: 48px;

	button {
		background-repeat: no-repeat;
		background-color: transparent;
		background-position: center;
		border: 0;
		text-indent: 150%;
		white-space: nowrap;
		overflow: hidden;
		display: block;
		position: absolute;
		top: 0;
		cursor: pointer;
		width: 40px;
		height: 40px;

		&:active {
			top: 1px;
		}
	}

	.sundial-date-picker-decrement-month {
		left: 0;
		background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSI2cHgiIGhlaWdodD0iOHB4IiB2aWV3Qm94PSIwIDAgNiA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBvbHlnb24gZmlsbD0iIzIxMjEyMSIgcG9pbnRzPSI2LDggMCw0IDYsMCAiLz4NCjwvc3ZnPg0K");
	}

	.sundial-date-picker-header-text {
		text-align: center;
		margin: 0;
		font-weight: 600;
		font-size: 13px;
		color: #212121;
		padding-top: 12px;
		cursor: default;
	}

	.sundial-date-picker-increment-month {
		right: 0;
		background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4xLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHdpZHRoPSI2cHgiIGhlaWdodD0iOHB4IiB2aWV3Qm94PSIwIDAgNiA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBvbHlnb24gZmlsbD0iIzIxMjEyMSIgcG9pbnRzPSIwLDAgNiw0IDAsOCAiLz4NCjwvc3ZnPg0K");
	}
}

.sundial-calendar-container {
	padding: 0 6px;

	table {
		border-collapse: collapse;
		width: 290px;

		th {
			font-weight: 600;
			font-size: 12px;
			color: #212121;
			text-transform: uppercase;
		}

		td {
			width: 14.285714286%;
			padding: 2px 4px;

			button {
				box-sizing: content-box;
				font-family: $font-stack;
				font-size: 12px;
				display: block;
				text-align: center;
				width: 100%;
				color: #212121;
				cursor: pointer;
				border: 0;
				background-color: transparent;
				border-radius: 40px;
				padding: 9px 0 8px;
				border: 2px solid transparent;
			}

			&.sundial-day-today {
				button {
					border-color: #B0B0B0;
				}
			}

			&.sundial-day-selected {
				button {
					background-color: #03A9F4;
					color: #fff;
					border-color: transparent;
				}
			}
		}
	}
}

.sundial-time-picker {
	text-align: center;
	padding: 12px 0 15px;

	select {
		display: inline-block;
		appearance: none;
		padding: 10px 15px 11px;
		border-radius: 0;
		background-position: right 15px top 16px;
		border: 2px solid transparent;
		border-left-color: #B0B0B0;
		color: #212121;
		font-size: 13px;
		font-family: $font-stack;
		cursor: pointer;

		&:focus {
			border-color: #B0B0B0;
		}
	}

	.sundial-time-picker-separator {
		display: inline-block;
		font-size: 15px;
		font-weight: 600;
		padding: 0 4px;
	}

	.sundial-time-picker-description {
		margin-bottom: 0;
		font-size: 13px;
		font-weight: 600;
	}
}

@media screen and (min-width: 440px) {
	.sundial-sidebar {
		float: left;
		width: 100px;
	}

	.sundial-picker-container {
		float: left;
	}
}